input {
    margin-bottom: 10px;
}
table {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.nappirivi {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}
/* Lisääilmoitus.php */
/* Kartta div */
#kartta {
    height: 580px;
    width: 900px;
}